/* GENERAL STYLE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100px;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

/* HEADER */
.header-top img {
  margin-top: 30px;
  margin-left: 20%;
}

.list {
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  line-height: 25px;
  font-size: 12px;
  float: right;
  margin-top: 30px;
}

.list::before {
  content: '';
  display: table;
  clear: both;
}

.list a {
  text-decoration: none;
  color: #000;
  padding-right: 374px;
  
}

/* MAIN */
.home {
  margin-left: 45px;
  width: 100%;
}

.home h1 {
  position: absolute;
  top: 65%;
  left: 30%;
  margin-bottom: 30px;
  font-size: 50px;
  line-height: 40px;
  color: #fff;
}

p {
  position: absolute;
  top: 74%;
  left: 35%;
  color: #fff;
}

h1 {
  font-weight: 500;
}
