/* GENERAL STYLE */
body {
  font-family: 'Open Sans', sans-serif;
}

/* HEADER */
.header-top img {
  float: left;
  margin-top: 30px;
  margin-left: 20%;
  cursor: pointer;
}

.list {
  width: 900px;
  height: 80px;
  text-align: center;
  margin-left: 42%;
}

.list .link,
.languages {
  display: inline-block;
  margin-top: 28px;
  text-transform: uppercase;
  list-style: none;
  font-size: 14px;
}

.list a {
  text-decoration: none;
  color: #000;
  margin-right: 30px;
}

.list .shop {
  margin-right: 20px;
}

.languages a {
  margin-right: 10px;
}

.languages .language {
  margin-left: 10px;
}

/* MAIN */
.home-img img {
  width: 100%;
}

.cont-text {
  position: absolute;
  width: 50%;
  height: 140px;
  top: 34%;
  left: 25%;
  text-align: center;
}

.cont-text h1 {
  font-size: 60px;
  font-weight: 600;
}

.cont-text h1,
.cont-text p {
  color: #fff;
}

.cont-text p {
  margin-top: 27px;
  margin-right: 10px;
  font-size: 19.6px;
}

.cont-down {
  position: absolute;
  width: 410px;
  height: 70px;
  top: 51%;
  left: 39.2%;
}

.cont-down img {
  width: 200px;
  cursor: pointer;
}

.cont-imgs {
  height: 784px;
}

/* Cont Img 1 */
.cont-helbgo {
  float: left;
  margin-left: 110px;
}

.cont-helbgo,
.cont-helbike {
  width: 820px;
  height: 680px;
  margin-top: 48px;
  background: #fafafa;
}

.cont-helbgo h3,
.cont-helbike h3,
.cont-helbgo .cont-img-1,
.cont-helbike .cont-img-2 {
  text-align: center;
}

.cont-helbgo h3,
.cont-helbike h3 {
  font-size: 40px;
  font-weight: 400;
  margin-top: 60px;
}

.cont-helbgo p {
  margin-left: 22%;
}

.cont-helbgo p,
.cont-helbike p {
  font-size: 26px;
  font-weight: 400;
  margin-top: 20px;
}

.cont-helbgo a {
  margin-left: 42.6%;
}

.cont-helbgo a,
.cont-helbike a {
  display: inline-block;
  font-size: 18px;
  margin-top: 17px;
  text-decoration: none;
  color: #2e39fe;
}

.cont-helbgo span {
  font-size: 16px;
  margin-left: 6px;
}

.cont-img-1 {
  margin-top: 20px;
  margin-left: 32.7%;
}

.cont-img-1,
.cont-img-2 {
  width: 280px;
  height: 410px;
}

.cont-img-1 img,
.cont-img-2 img {
  width: 220px;
}

/* Cont Img 2 */
.cont-helbike {
  float: right;
  margin-right: 108px;
}

.cont-helbike p {
  margin-left: 22.2%;
}

.cont-helbike a {
  margin-left: 42.6%;
}

.cont-img-2 {
  margin-top: 22px;
  margin-left: 32.7%;
}